<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">감사합니다. </small>
                    <small class="block">알콩 달콩 잘 살겠습니다 ♥︎ </small>
                </p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="https://github.com/helloyako/wedding" onclick="onClickGAEvent('footer','source-code');">Source code <i class="icon-github icon-center"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</footer>