{% assign header = site.data.invitaionHeader %}
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({{ header.backgroundImage }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>{{ header.groomName }} &amp; {{ header.brideName }}</h1>
						<h2>{{ header.description }}</h2>
						<div class="simply-countdown simply-countdown-one"></div>
						<h1 class="just-married" style="display: none;">Just Married!!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
